@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&display=swap");

:root {
  --main-color: #06bbcc;
  --bg: #edf0f5;
  --border: 0.2rem solid rgba(255, 255, 255, 0.3);
  --primary: #06bbcc;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.4%;
  overflow: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: var(--border);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: sticky;
}

.header .logo img {
  height: 7rem;
  width: 25rem;
}

.header .navbar a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  margin: 0 2rem;
  font-size: 1.5rem;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.3rem solid var(--main-color);
  border-radius: 2px;
  padding-bottom: 0.5rem;
}

.header .icons a {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--main-color);
  font-size: 2rem;
  margin-left: 2rem;
}

.header .icons div {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  margin-left: 2rem;
}

.header .icons a:hover {
  color: var(--main-color);
  border-bottom: 0.3rem solid var(--main-color);
  border-radius: 2px;
  padding-bottom: 0.5rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

/* media query */

@media (max-width: 1369px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh -9.5rem);
    display: inline-grid;
    overflow: hidden;
  }
  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}
