<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />

    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 id="title" class="text-primary"></h2>
      <div class="poem" id="content"></div>
      <p id="author" class="author"></p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <!-- <script src="../../../js/poems.js"></script> -->

    <script>
      const params = new URLSearchParams(window.location.search);
      const id = params.get("id");

      fetch("../../../data/issue_4/poems.json")
        .then((res) => res.json())
        .then((data) => {
          const poem = data.poems[id];

          document.getElementById("title").innerText = poem.title;

          let html = "";
          poem.content.forEach((line) => {
            html += `<p>${line}</p>`;
          });
          document.getElementById("content").innerHTML = html;

          document.getElementById("author").innerText = `by ${poem.author}`;

          // ⭐ Dynamic Page Title
          document.title = (poem.title + " | ENGZINE").toUpperCase();
        });
    </script>

    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
