<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />
    <title>CURRENT ISSUE | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    />
    <link rel="stylesheet" href="../css/issue.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <script src="//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js"></script>
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../js/header1.js"></script>
    <special-header></special-header>
    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <h1 id="issn">ISSN: 3049-1363</h1>
    <!-- Content Here -->

    <div class="columns-section">
      <!-- Poems -->
      <div class="column">
        <h2>Poems</h2>
        <ul id="poem-list" style="text-transform: capitalize !important"></ul>
      </div>
      <!-- Short Stories -->
      <div class="column">
        <h2>Short Stories</h2>
        <ul
          id="stories-list"
          style="text-transform: capitalize !important"
        ></ul>
      </div>
      <!-- Essays -->
      <div class="column">
        <h2>Essays</h2>
        <ul id="essays-list"></ul>
      </div>
      <!-- Articles -->
      <div class="column">
        <h2>Articles</h2>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1Frp4_r8ACfcr2vYUBKGQtK2bioVuUooO/view?usp=drive_link"
                target="_blank"
                ><p>J. Michael Sammanasu</p>
                <h3>
                  A COMPARATIVE ANALYSIS OF IGNATIAN PEDAGOGICAL PARADIGM (IPP)
                  AND NEP 2020 IN HIGHER EDUCATION: A VALUE-BASED EDUCATION
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1JvkSeglQ4aILlVEMk8YtAujPeJG8H4H4/view?usp=drive_link"
                target="_blank"
                ><p>Mr. M.Subash & Dr.Mary Lowrencia C</p>
                <h3>
                  BLENDING EDUTAINMENT WITH LANGUAGE PEDAGOGY TO IMPROVE
                  TERTIARY STUDENTS’ SPEAKING SKILLS IN A FLIPPED LEARNING
                  ENVIRONMENT
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1nqpR3_w0DockwNNDi3tQupnATh0OBWBu/view?usp=drive_link"
                target="_blank"
                ><p>Alagu Revathi L & Jaya Shri M</p>
                <h3>
                  REKINDLING MINDS: ENCOURAGING BOOK REVIEW AND FILM
                  APPRECIATION AMONG TODAY’S STUDENTS
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1IXESCmHC71UgZyqYmRyN7eZqQrf_YVZ6/view?usp=drive_link"
                target="_blank"
                ><p>John Naveena Serlin K</p>
                <h3>
                  SHORT FORMS AND LINGUISTIC CHANGE IN DIGITAL COMMUNICATION
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1gC42nnLclWoefKeKjcO7cVuiUmgWrmsp/view?usp=drive_link"
                target="_blank"
                ><p>Caro Velma J</p>
                <h3>CADBURY 5 STAR AND THE IDEA OF POSITIVE LAZINESS</h3></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../js/footer1.js"></script>
    <!-- Footer End -->

    <!-- Script -->
    <script>
      fetch("../data/poems.json")
        .then((res) => res.json())
        .then((data) => {
          const list = document.getElementById("poem-list");
          data.poems.forEach((poem, index) => {
            const li = document.createElement("li");

            li.innerHTML = `
        <a href="issue_3/poems/view.html?id=${index}">
          ${poem.title}
        </a>
      `;
            list.appendChild(li);
          });
        });
      // Short Stories
      // Load Short Stories
      fetch("../data/stories.json")
        .then((res) => res.json())
        .then((stories) => {
          const list = document.getElementById("stories-list");
          stories.forEach((story) => {
            const li = document.createElement("li");
            li.innerHTML = `<a href="issue_3/short stories/story.html?id=${story.id}">${story.title}</a>`;
            list.appendChild(li);
          });
        });

      // Essays
      fetch("../../data/essays.json")
        .then((res) => res.json())
        .then((data) => {
          const list = document.getElementById("essays-list");
          data.essays.forEach((essay) => {
            const li = document.createElement("li");
            li.innerHTML = `
        <a href="issue_3/essays/view.html?id=${essay.id}">
          ${essay.title}
        </a>`;
            list.appendChild(li);
          });
        });
    </script>

    <!-- JS link -->
    <script src="../js/script.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
