<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />
    <title>EDITORIAL BOARD | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../js/header1.js"></script>
    <special-header></special-header>

    <div style="margin: 4.8vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <h1 id="issn">ISSN: 3049-1363</h1>
    <!-- Content Start -->
    <main class="content">
      <section class="section">
        <h2>Patrons</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/admprofile.jsp?p=rec_message"
            class="card"
            target="_blank"
          >
            <p><strong>Rev. Dr. Pavulraj Michael SJ</strong></p>
            <p>Rector</p>
          </a>
          <a
            href="https://www.sjctni.edu/admprofile.jsp?p=sec_message&bredcom=%3Ca%20href=/%3EHome%3C/a%3E%20|%20Secretary%20|%20Secretary"
            class="card"
            target="_blank"
          >
            <p><strong>Rev. Dr. M. Arockiasamy Xavier SJ</strong></p>
            <p>Secretary</p>
          </a>
          <a
            href="https://www.sjctni.edu/admprofile.jsp?p=pri_message"
            class="card"
            target="_blank"
          >
            <p><strong>Rev. Dr. S. Mariadoss SJ</strong></p>
            <p>Principal</p>
          </a>
        </div>
      </section>

      <section class="section">
        <h2>Advisor</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F06EN24.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. V. Francis</strong></p>
            <p>Associate Professor & Head</p>
            <p>St. Joseph’s College (Autonomous), Trichy</p>
            <p style="text-transform: none">
              Email: francis_en1@mail.sjctni.edu
            </p>
          </a>
        </div>
      </section>

      <section class="section">
        <h2>Chief Editor</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T22EN51.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Prof. D. Prasanth Arokia Samy</strong></p>
            <p>Assistant Professor of English</p>
            <p>St. Joseph’s College (Autonomous), Trichy</p>
            <p style="text-transform: none">
              Email: prasantharokiasamy_en2@mail.sjctni.edu
            </p>
            <p style="text-transform: none">Mobile: +91 9994494858</p>
          </a>
        </div>
      </section>

      <section class="section">
        <h2>Editors</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F13EN11.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. J. Charles Arockiasamy</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              St. Joseph’s College (Autonomous), Trichy
            </p>
            <p style="text-transform: none">
              Email: charlesarockiasamy_en2@mail.sjctni.edu
            </p>
          </a>

          <!-- Dr. A. Johnson Francis -->
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T08EN02.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. A. Johnson Francis</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              St. Joseph’s College (Autonomous), Trichy
            </p>
            <p style="text-transform: none">
              Email: johnsonfrancis_en2@mail.sjctni.edu
            </p>
          </a>

          <!-- Dr. D. Loyola Innaci -->
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T08EN03.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. D. Loyola Innaci</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              St. Joseph’s College (Autonomous), Trichy
            </p>
            <p style="text-transform: none">
              Email: loyolainnaci_en2@mail.sjctni.edu
            </p>
          </a>

          <!-- Dr. A. Ezhugnayiru -->
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F09EN02.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. A. Ezhugnayiru</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              St. Joseph’s College (Autonomous), Trichy
            </p>
            <p style="text-transform: none">
              Email: ezhugnayiru_en2@mail.sjctni.edu
            </p>
          </a>

          <!-- Mr. A. Ukkirapandian -->
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F16EN13.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Mr. A. Ukkirapandian</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              St. Joseph’s College (Autonomous), Trichy
            </p>
            <p style="text-transform: none">
              Email: ukkirapandian_en2@mail.sjctni.edu
            </p>
          </a>

          <!-- Dr. A. Priya -->
          <a
            href="https://www.hcctrichy.ac.in/contents/academics/dept/staff_profile/EL/TEL2021G04.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. A. Priya</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              Assistant Professor of English, Holy Cross College, Trichy
            </p>
            <p style="text-transform: none">Email: priyaa@hcctrichy.ac.in</p>
          </a>

          <!-- Dr. P. Helan Jona -->
          <a
            href="https://cauverycollege.ac.in/Admin/FileFolder/FacultyResume/381.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. P. Helan Jona</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              Associate Professor of English, Cauvery College for Women, Trichy
            </p>
            <p style="text-transform: none">
              Email: helanjona.eng@cauverycollege.ac.in
            </p>
          </a>

          <!-- Ms. K. Primrose -->
          <a
            href="https://www.aactni.edu.in/faculty/biodata/2410236.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Ms. K. Primrose</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              Assistant Professor of English, Arul Anandar College, Karumathur
            </p>
            <p style="text-transform: none">Email: primlizrose@gmail.com</p>
          </a>

          <!-- Mr. A. Antoine Dominic Gnanasudh  -->
          <a
            href="https://loyolacollege.edu/profile/english/profile.html?file=ProfAntoineDominic.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Mr. A. Antoine Dominic Gnanasudhan</strong></p>
            <p style="border-left: 4px solid #007bff; padding-left: 10px">
              Assistant Professor of English, Loyola College, Chennai
            </p>
            <p style="text-transform: none">
              Email: antoinedominic@loyolacollege.edu
            </p>
          </a>
        </div>
      </section>
    </main>
    <!-- Content End -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../js/footer1.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
