<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />

    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/slideshow.css" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  
  <body>
    <!-- Header Section Starts -->

    <my-header></my-header>

    <!-- Header Section Ends -->

   <!-- Footer Start -->
    <footer class="footer-48201">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
            <a href="#" class="footer-site-logo d-block mb-4">Publisher Information</a>
            <hr>
            <h3 style="color: white;">
              Publisher Body
            </h3>
            <p>
              PG & Research Department of English,<br>
              St. Joseph’s College
            </p>
            
            <h3 style="color: white;">
              Address
            </h3>
            <p>
              St. Joseph’s College (Autonomous),<br>
              tiruchirappalli - 620002. <br>
              tamil nadu, india.
            </p>
            
            <h3 style="color: white;">
              Editor in chief
            </h3>
            <p>
              Prasanth Arockia sawy. D
            </p>
            <hr>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Quick Links</a><hr>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/components/about/engzine.html">About Us</a></li>
              <li><a href="/components/contact.html">Contact</a></li>
              <li><a href="/components/feedback.html">feedback</a></li>
              <li><a href="/components/submissions.html">Submissions</a></li>
            </ul>
            <hr>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Podcasts & Magazines</a><hr>
              <li><a href="/components/podcast.html">podcast</a></li>
              <li><a href="/components/issues.html">current issue</a></li>
              <li><a href="#">archieve</a></li>
              <li><a href="/components/about/team.html">team</a></li>
            </ul>
            <hr>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Scan to Join</a><hr>
              <li><a href="/components/podcast.html"><img src="/img/qr.png" alt="" style="width: 120px; height: auto;"></a></li>
            </ul>
            <hr>
          </div>
          
          <div class="col-md text-md-center">
            <p class=""><a href="#" class="btn btn-tertiary">Join Now</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright mt-5 pt-5">
              <p><a href="https://sjctni.edu/">
                <small style="text-transform: lowercase; color: white;"
                  >&copy; www.sjctni.edu, All Rights Reserved.</small
                >
              </p></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="js/script.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="module" src="/js/headerfooter.js"></script>
  </body>
</html>
