<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/img/favicon.ico" rel="icon" />
    <special-head></special-head>
    <link rel="stylesheet" href="/css/poem.css" />
  </head>
  <body>
    <my-header></my-header>
    <div class="poem-container">
      <h2>Whispers of Timeless Youth</h2>
      <p class="author">
        by Theva Kiruba, Alumnus of Holy Cross College, Trichy
      </p>
      <div class="poem">
        <p>In the cradle of dreams, where aspirations soar,</p>
<p>My college campus, a radiant core.</p>
<p>Echoes of mirth, forever begun.</p>
<p>Beneath the venerable oaks, tales softly spun,</p>
<p>Morning dew on verdant blades,</p>
<p>Dawn's hues in delicate cascades.</p>
<p>Classrooms brimming with fervent minds,</p>
<p>A mosaic of thoughts, intricately aligned.</p>
<p>Hallways alive with untold lore,</p>
<p>Friendships blooming, treasures galore.</p>
<p>Library's silence, a hallowed retreat,</p>
<p>Pages turning, hearts in quiet beat.</p>
<p>Cafeteria's hum, a chorus of delight,</p>
<p>Moments of joy, in memory's sight.</p>
<p>Evening strolls by the serene lake,</p>
<p>Reflections of dreams, ripples we make.</p>
<p>Under the moon's tender embrace,</p>
<p>Nights of wonder, a celestial grace.</p>
<p>Stars above, our silent guides,</p>
<p>In this sanctuary, where our spirit abides.</p>
<p>Memories carved by time's gentle hand,</p>
<p>A haven, a promised land.</p>
<p>Whenever I reminisce, my heart takes flight,</p>
<p>Breathing life anew, in the soft twilight.</p>
<p>These timeless days, a cherished song,</p>
<p>In the garden of my soul, they belong.</p>
<p>My college campus, a masterpiece of art,</p>
<p>Forever alive, within my heart</p>
     </div> 
      </div>
    </div>
    <my-footer></my-footer>
    <script type="module" src="/js/head.js"></script>
    <script type="module" src="/js/headerfooter.js"></script>
  </body>
</html>
