<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />

    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/slideshow.css" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <nav class="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">engzine</a>
            <a href="/components/about/team.html">team</a>
            <!-- <a href="components/about/current_issue.html">current issue</a> -->
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>

          <div class="dropdown-content">
            <a href="/components/about/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/podcast.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <a href="/components/submissions.html">Submissions</a>
      </nav>

      <div class="icons">
        <a href="" id="btn-color-join"><i class="fa-brands fa-youtube"></i></a>
        <a href="" id="btn-color-join"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="" id="btn-color-join"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <!-- Header Section Ends -->
    <!-- College Section Starts -->
    <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container bottomContainer">
        <div class="allText bottomText">
          <p class="text-blk headingText">About</p>
          <p class="text-blk subHeadingText">St. Joseph's College - Trichy</p>
          <p class="text-blk description">
            St. Joseph's College (Autonomous), Tiruchirappalli, stands as a
            prestigious institution known for its rich academic tradition and
            commitment to shaping well-rounded individuals. Established in 1844,
            it has consistently maintained a reputation for excellence in
            education and its focus on holistic development.
          </p>
          <p class="text-blk description">
            The college offers a diverse range of undergraduate, postgraduate
            and research programs, emphasizing not only academic rigor but also
            the values of integrity, social responsibility and moral
            leadership.Guided by the motto 'Pro Bono et Vero' (for the Good and
            the True), it carries on a tradition of scholastic excellence
            combined with great moral meaning.
          </p>
          <p class="text-blk description">
            St. Joseph's College, an autonomous college associated with
            Bharathidasan University, values academic rigor and honesty while
            prioritizing educational upliftment for the underserved.It embraces
            varied voices into an inclusive community, fostering students from
            all walks of life. It prepares students to be leaders, thinkers and
            caring members of society via innovative instruction and an
            unwavering pursuit of learning.
          </p>
          <p class="text-blk description">
            St. Joseph's College is a revolutionary force dedicated to
            intellectual depth and social equality, continually striving for
            greatness and the common good. This unwavering commitment to the
            development of society has set numerous milestones on its path to
            establishing a world where knowledge and values are united.
          </p>
        </div>
        <div class="videoContainer">
          <iframe
            allowfullscreen="allowfullscreen"
            class="mainVideo"
            controls="controls"
            src="https://www.youtube.com/embed/RrfeZ1QDjV0"
          >
          </iframe>
          <img
            class="dotsImg image-block"
            src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"
          />
        </div>
      </div>
    </div>

    <!-- College Section Ends -->
    <!-- Footer Start -->
    <footer class="footer-48201">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
            <a href="#" class="footer-site-logo d-block mb-4">Publisher Information</a>
            <hr>
            <h3 style="color: white;">
              Publisher Body
            </h3>
            <p>
              PG & Research Department of English,<br>
              St. Joseph’s College
            </p>
            
            <h3 style="color: white;">
              Address
            </h3>
            <p>
              St. Joseph’s College (Autonomous),<br>
              tiruchirappalli - 620002. <br>
              tamil nadu, india.
            </p>
            
            <h3 style="color: white;">
              Editor in chief
            </h3>
            <p>
              Prasanth Arockia sawy. D
            </p>
            <hr>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Quick Links</a><hr>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/components/about/engzine.html">About Us</a></li>
              <li><a href="/components/contact.html">Contact</a></li>
              <li><a href="/components/feedback.html">feedback</a></li>
              <li><a href="/components/submissions.html">Submissions</a></li>
            </ul>
            <hr>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Podcasts & Magazines</a><hr>
              <li><a href="/components/podcast.html">podcast</a></li>
              <li><a href="/components/issues.html">current issue</a></li>
              <li><a href="#">archieve</a></li>
              <li><a href="/components/about/team.html">team</a></li>
            </ul>
            <hr>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Scan to Join</a><hr>
              <li><a href="/components/podcast.html"><img src="/img/qr.png" alt="" style="width: 120px; height: auto;"></a></li>
            </ul>
            <hr>
          </div>
          
          <div class="col-md text-md-center">
            <p class=""><a href="#" class="btn btn-tertiary">Join Now</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright mt-5 pt-5">
              <p><a href="https://sjctni.edu/">
                <small style="text-transform: lowercase; color: white;"
                  >&copy; www.sjctni.edu, All Rights Reserved.</small
                >
              </p></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="js/script.js"></script>
  </body>
</html>
